<app-layout>
  <mat-sidenav-container>
    <mat-sidenav #sidenav role="navigation">
      <app-sidenav-list (sidenavClose)="sidenav.close()"></app-sidenav-list>

      <!-- from Max -->
      <mat-toolbar color="primary">Menu</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item href="#">Link 1</a>
        <a mat-list-item href="#">Link 2</a>
        <a mat-list-item href="#">Link 3</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
      <!-- header.component.ts: public onToggleSidenav = () => {
    this.sidenavToggle.emit();
  } -->
      <main>
        <!-- <app-success-dialog></app-success-dialog> -->
        <flash-messages></flash-messages>

        <router-outlet></router-outlet>
        <hr />

        <!-- <app-fx-layout></app-fx-layout>
        <app-fxnanano></app-fxnanano>
        <app-poppingcarp></app-poppingcarp> -->
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
</app-layout>

<!-- <app-error *ngIf="hasError"></app-error> -->
