/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  font-family: 'メイリオ';
  background-color: #f0f1f2a0;
  /* bg-light=#f8f9fa */

}

.logo {
  width: 70px;
  margin: auto;
}

.navbar-brand .logo {
  width: 20px;
  margin: auto;
}

.iken {
  font-family:
    "HG行書体",
    "HGP行書体",
    "HGS行書体",
    "HGP教科書体",
    "Script",
    "ＭＳ 明朝",
    serif;
}

.tit {
  background-color: rgb(216, 204, 137);
}
